.logos-section {
    border-bottom: 1px solid #eee;
    background: #fafafa;
    padding: 20px 0;
}

.logos-section ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.logos-section ul li {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.logos-section ul li a {
    display: block;
    text-align: center;
}
.logos-section ul li img {
    max-width: 100%;
}

@media (min-width: 43.75em) {
    .logos-section .content{
        width: 900px;
    }
    .logos-section ul {
        //justify-content: space-around;
        display: block;
        text-align: center;
        margin-left: -30px;
    }

    .logos-section ul li {
        flex-basis: initial;
        margin-bottom: 0;
        display: inline-block;
        padding-left: 30px;
    }

    .logos-section ul {
        margin-bottom: 0;
    }

    .logos-section .logo a:hover img {
        filter: brightness(0) invert(50%);
    }
}
